@charset "UTF-8";

/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */
html{box-sizing:border-box;overflow-y:scroll;-webkit-text-size-adjust:100%}*,::after,::before{background-repeat:no-repeat;box-sizing:inherit}::after,::before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted ButtonText}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select{-moz-appearance:none;-webkit-appearance:none}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}img{border-style:none}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}

/* base style */
html {
    font-family: "YakuHanJP","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","游ゴシック体","Yu Gothic",YuGothic,"メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    font-size: 62.5%;
    background: #FFF;
}
p, li, body {
    font-size: 1.6rem;
}
a {
    color: #000;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.cf:after {
    content: "";
    display: block;
    clear: both;
}
/* particles.js style */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
/* contents style */
.wrapper {
    width: 100%;
    background: linear-gradient(to right, #61b3de 0%,#8549ba 90%,#8549ba 100%);
}
header {
    width: 95%;
    margin: 0 2.5%;
    padding: 25px 40px;
    background: #fff;
    border-radius: 10px; 
    -webkit-box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.1);
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.1);
    z-index: 100;
    position: absolute;
    top: 30px;
    left: 0;
    transition-duration: 0.3s;
}
.fixed {
    position: fixed;
    padding: 15px 40px;
    top: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
    transition-duration: 0.3s;
}
.company_name {
    float: left;
}
.company_name .logo {
    width: 15rem;
    position: relative;
    top: 5px;
}
.company_name .logo .first {
    width: 3.5rem;
    margin-right: 1rem;
}
.company_name .logo .second {
    width: 10rem;
    position: relative;
    top: -2px;
}
.company_name p {
    font-family: Lato Regular;
    float: left;
    font-size: 3rem;
    margin-top: 6px;
}
.header_list {
    float: right;
    margin-top: 10px;
}
.header_list li {
    float: left;
    margin: 0 15px;
    font-size: 1.6rem;
    font-weight: bold;
    position: relative;
}
.header_list li:hover a{
    color: #33ccff;
}
.header_list li:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #33ccff;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 300ms;
}
.fixed .header_list li:after {
    bottom: -25px;
}
.header_list li:hover:after {
    transform: scaleX(1);
    transform-origin: left center;
}
.sp_navigation_btn, .sp_navigation {
    display: none;
}
.main_visual {
/* background: -moz-linear-gradient(left, #61b3de 0%, #8549ba 90%, #8549ba 100%); /*  /* FF3.6-15 */
/* background: -webkit-linear-gradient(left, #61b3de 0%,#8549ba 90%,#8549ba 100%); /*  /* Chrome10-25,Safari5.1-6 */
/* background: linear-gradient(to right, #61b3de 0%,#8549ba 90%,#8549ba 100%); /* /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 100%;
    height: 100VH;
    margin: 0 auto;
    position: relative;
    display: block;
    z-index: 90;
}
.main_visual img {
    width: 100%;
}
.catch_copy {
    width: 30%;
    background: #FFF;
    height: 100VH;
    float: right;
}
.what_unalus {
    padding: 40px;
    position: absolute;
    top: 20VH;
}
.what_unalus dl {
    margin-top: 50px;
    font-weight: 500;
    line-height: 3.8rem;
    letter-spacing: 2px;
}
.scroll_down {
    position: relative;
}
.scroll_down .txt img {
    width: 9rem;
    position: absolute;
    left: 208px;
    top: 92px;
}
.scroll_down .animation {
    position: absolute;
    left: 251px;
    top: 116px;
}
.scroll_down .animation:after {
    content: "";
    width: 1px;
    height: 42px;
    background: #33ccff;
    display: block;
    transform: scaleY(0);
    transform-origin: top;
    animation-duration: 1.8s;
    animation-name: ScrollAction;
    animation-iteration-count: infinite;
}
@keyframes ScrollAction {
    100% {
        transform: scaleY(1);        
    }
}
h2 {
    font-size: 4rem;
    letter-spacing: 5px;
}
h3 {
    font-size: 2.5rem;
    display: inline-block;
    margin: 10px 8px 0;
    padding-bottom: 5px;
    letter-spacing: 5px;
    background: linear-gradient(transparent 70%, #33ccff 10%);
    line-height: 130%;
}
.catch_copy_txt {
    position: absolute;
    left: 25vw;
    top: 20vh;
    color: #FFF;
    text-shadow: 2px 2px 2rem #013369;
}
.catch_copy_txt span {
    font-size: 8rem;
    font-weight: bold;
    letter-spacing: 10px;
    display: block;
    text-align: center;
    opacity: 0;
}
.catch_copy_txt span:nth-child(1) {
    -webkit-animation: catchcopy 0.3s ease 0.3s 1 forwards;
    animation: catchcopy 0.3s ease 0.3s 1 forwards;
}
.catch_copy_txt span:nth-child(2) {
    -webkit-animation: catchcopy 0.3s ease 0.6s 1 forwards;
    animation: catchcopy 0.3s ease 0.6s 1 forwards;
}
.catch_copy_txt span:nth-child(3) {
    -webkit-animation: catchcopy 0.3s ease 0.9s 1 forwards;
    animation: catchcopy 0.3s ease 0.9s 1 forwards;
}
.catch_copy_txt span:nth-child(4) {
    -webkit-animation: catchcopy 0.3s ease 1.2s 1 forwards;
    animation: catchcopy 0.3s ease 1.2s 1 forwards;
}
.catch_copy_txt span:nth-child(5) {
    -webkit-animation: catchcopy 0.3s ease 1.5s 1 forwards;
    animation: catchcopy 0.3s ease 1.5s 1 forwards;
}
@keyframes catchcopy {
    100% {
        opacity: 1;
    }
}
.catch_copy_txt span.catch_copy_main {
    font-size: 8rem;
    font-weight: bold;
    font-family: Axiforma SemiBold;
    display: block;
    letter-spacing: 10px;
    display: block;
    text-align: center;
}
@keyframes RightToLeft {
    0% {
        opacity: 0;
        transform: translateX(150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes LeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.isAnimate .right_to {
    animation-duration: 1s;
    animation-name: RightToLeft;
    opacity: 1 !important;
}
.isAnimate .left_to {
    animation-duration: 1s;
    animation-name: LeftToRight;
    opacity: 1 !important;
}
.box img {
    opacity: 0;
}
.news_wrapper {
    background: #FFF;
    padding: 150px 0 0;
}
.news_sp_img {
    display: none;
}
.news_left {
    float: left;
    width: 35%;
    margin-left: 4%;
    margin-right: 1%;
}
.news_right {
    float: left;
    width: 60%;
}
.news_right img {
    width: 100%;
    border-radius: 50px 0 0 50px;
    height: 630px;
}
.news_title {
    margin: 100px 0 50px;
}
.news_title h2 {
    display: inline-block;
    border-bottom: 1px solid;
}
.news_list li {
    margin-bottom: 15px;
}
.news_list span {
    background: #00af81;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 10px 10px 0 0;
    color: #FFF;
}
.bussiness_wrapper {
    background: #FFF;
    padding: 150px 0 0;
}
.bussiness_title {
    margin: 100px 0 50px;
    text-align: center;
}
.bussiness_title h2 {
    display: inline-block;
    border-bottom: 1px solid;
}
.bussiness_left {
    float: left;
    width: 50%;
}
.bussiness_left img {
    width: 100%;
    border-radius: 0 50px 50px 0;
}
.bussiness_right {
    float: left;
    width: 45%;
    margin: 0 2.5%;
}
.bussiness_list dl {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bussiness_list dd {
    position: relative;
    flex-basis: 33%;
    margin-bottom: 30px;
}
.company_wrapper {
    background: #FFF;
    padding: 150px 80px;
}
.company_title {
    margin: 100px 0 100px;
    width: 960px;
}
.company_title h2 {
    display: inline-block;
    border-bottom: 1px solid;
}
.company_list {
    width: 45%;
    margin-right: 5%;
    float: left;
}
.company_list dl {
    margin-bottom: 30px;
    font-feature-settings: "palt";
}
.company_list dt {
    float: left;
    width: 30%;
    padding: 5px 10px;    
}
.company_list dd {
    float: left;
    width: 70%;
    padding: 5px 10px;
}
.company_map {
    width: 50%;
    float: left;
}
.company_map .name {
    margin-bottom: 15px;
    display: inline-block;
    border-bottom: 1px solid;
    font-weight: bold;
    font-size: 1.8rem;
}
.company_map iframe {
    margin-bottom: 30px;
    border-radius: 30px;
    width: 100%;
}
.inquiry_wrapper {
    background: url(../images/gadget.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50%;
    position: relative;
}
.inquiry_wrapper:after {
    content: '';
    background-color: rgba(0, 188, 228, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.inquiry_wrapper a {
    z-index: 1;
}
.inquiry_title {
    padding: 150px 0 150px;
    z-index: 100;
    position: relative;
    text-align: center;
}
.inquiry_title:hover p:after {
    content: "";
    border-bottom: 1px solid #FFF;
    transform: scaleX(1);
    transform-origin: left center;    
}
.inquiry_title h2 {
    color: #FFF;
}
.inquiry_title p {
    color: #FFF;
    margin-top: 30px;
    position: relative;
}
.inquiry_title p:after {
    content: "";
    width: 190px;
    height: 1px;
    background: #FFF;
    position: absolute;
    bottom: -2px;
    left: 856px;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 300ms;
}
footer {
    background: #00003F;
}
.copyright {
    text-align: center;
    color: #FFF;
    padding: 100px 0;
}
.contact_wrapper {
    background: #FFF;
    padding: 250px 80px 100px;
    font-size: 2rem;
}
.contact_title h2 {
    display: inline-block;
    border-bottom: 1px solid #000;
}
.contact_left {
    width: 25%;
    margin-right: 5%;
    float: left;
}
.contact_right {
    width: 70%;
    float: left;
}
.contact_flow {
    padding: 50px 20px;
    text-align: center;
    margin-top: 100px;
    -webkit-box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.1);
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.1);
    border-radius: 10px;
    position: relative;
}
.contact_flow .current {
    font-weight: bold;
    color: #33ccff;
}
.contact_head {
    margin-top: 100px;
}
.contact_head span,
.contact_wrapper .red {
    color: #e0001b;
}
.contact_title {
    font-weight: bold;
    margin-top: 60px;
}
.contact_txt {
    margin-top: 5px;
    position: relative;
}
.contact_txt .input_list {
    width: 80%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.contact_txt .input_list li {
    flex-basis: 48%;
    margin-bottom: 0.5rem;
}
.contact_wrapper input[type="text"],
.contact_wrapper textarea {
    background: #f4f4f4;
    border: 1px solid #eaebed;
    padding: 10px 1em;
    width: 80%;
}
.contact_wrapper .form_radio {
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.contact_wrapper input[type="radio"] {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
    opacity: 0;
}
.contact_txt .radio_txt {
    position: relative;
    padding: 10px 0 10px 2em;
    font-size: 2rem;
}
.contact_txt .radio_txt:before {
    content: '';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 1.2rem;
    left: 0;
    width: 2.6rem;
    height: 2.6rem;
    border: #eaebed solid 0.2rem;
    border-radius: 1.3rem;
    background: #f6f6f8;
}
.contact_txt .radio_txt:after {
    -webkit-transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    content: '';
    display: block;
    position: absolute;
    top: 1.7rem;
    left: 0.5rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.9rem;
    background: #33ccff;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.contact_txt input:checked+.radio_txt:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.submit_btn {
    margin-top: 50px;
}
.submit_btn input[type="submit"] {
    background: #333;
    padding: 50px 0;
    text-align: center;
    color: #FFF;
    width: 80%;
    font-weight: bold;
    -webkit-transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
}
.submit_btn input[type="submit"]:hover {
    background: #00aeef;
}
.back_btn {
    margin-top: 100px;
}
.back_btn button {
    text-align: center;
    width: 80%;
    padding: 50px 0;
    background: #BDBDBD;
    color: #FFF;
    font-weight: bold;
}
.contact_wrapper input::placeholder {
    color: #a5a9ad;
}
.contact_wrapper textarea::placeholder {
    color: #a5a9ad;
}
.contact_wrapper span.caution {
    color: #e0001b;
    font-weight: bold;
    display: none;
    margin-top: 5px;
}
.contact_wrapper span#contactKind_error,
.contact_wrapper span#name_error,
.contact_wrapper span#mail_error,
.contact_wrapper span#phone_error,
.contact_wrapper span#companyName_error,
.contact_wrapper span#inquiry_error,
.contact_wrapper span#agreement_error {
    color: #e0001b;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}
.contact_wrapper .is_show {
    display: block !important;
}
@media screen and (max-width: 559px) {
    html {
        font-size: 50%;
    }
    .wrapper {
        padding: 1px 0;
    }
    header {
        padding: 10px 20px 10px;
    }
    .company_name .logo {
        width: 4rem;
    }
    .company_name p {
        margin-top: 10px;
    }
    .catch_copy_txt span {
        font-size: 7rem;
    }
    .fixed {
        padding: 12px 20px 12px;
    }
    .fixed .sp_navigation_btn {
        width: 40px;
    }
    .company_name .logo .second {
        display: none;
    }
    .header_list {
        display: none;
    }
    .nav_header_logo {
        float: left;
        width: 120px;
        margin: 10px 0 0 5px;
    }
    .nav_header_logo img {
        width: 40px;
    }
    .nav_header_logo a p{
        color: #FFF;
        font-family: Lato Regular;
        font-size: 3.0rem;
        display: inline-block;
        position:relative;
        top: -10px;
        left: 8px;
    }
    .sp_navigation {
        background: #00003F;
        height: 100VH;
        position: relative;
        z-index: 1000;
        display: none;
        transition-duration: 0.3s;
    }
    .is_open {
        display: block;
        transition-duration: 0.3s;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .sp_navigation_btn {
        display: block;
        width: 50px;
        float: right;
        padding: 10px;
    }
    .close_btn {
        position: relative;
        float: right;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .close_btn:before, .close_btn:after {
        content: "";
        background: #FFF;
        display: block;
        width: 3.5rem;
        height: 0.5rem;
        position: absolute;
        top: 28px;
        left: 5px;
    }
    .close_btn:before {
        transform: rotate(315deg);
    }
    .close_btn:after {
        transform: rotate(-315deg);
    }
    .nav_block {
        margin-top: 50px;
        padding: 0 10px;
    }
    .nav_block li a{
        color: #FFF;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        padding: 20px 0;
        display: block;
        border-top: 1px solid #FFF;
    }
    .nav_block li:last-child a {
        border-bottom: 1px solid #FFF;
    }
    .lines {
        position: relative;
    }
    .lines span {
        display:block;
        background: #333;
        width: 30px;
        height: 5px;
        margin: 0 auto;
    }
    .lines span:nth-child(1) {
        margin-bottom: 5px;
    }
    .lines span:nth-child(2) {
        margin-bottom: 5px;
    }
    .main_visual {
        height: inherit;
        position: inherit;
    }
    .catch_copy {
        height: inherit;
    }
    .scroll_down {
        display: none;
    }
    .news_wrapper {
        padding: 150px 0;
    }
    .news_sp_img {
        display: block;
        width: 95%;
        margin-left: 5%;
    }
    .news_sp_img img{
        width: 100%;
        border-radius: 30px 0 0 30px;
    }
    .news_left {
        float: none;
        width: 90%;
        margin: 0 5%;
    }
    .news_list li {
        line-height: 200%;
    }
    .news_right {
        display: none;
    }
    .news_right img {
        height: inherit;
    }
    .news_title {
        margin: 50px 0 50px;
    }
    .bussiness_left {
        float: none;
        width: 90%;
    }
    .bussiness_left img {
        border-radius: 0 30px 30px 0;
    }
    .bussiness_list dd {
        flex-basis: 48%;
    }
    .bussiness_right {
        float: none;
        width: 90%;
        margin: 0 5%;
    }
    .bussiness_title {
        margin: 50px 0 50px;
        text-align: left;
    }
    .catch_copy {
        float: none;
        width: 100%;
        background: none;
    }
    .catch_copy_txt {
        position: inherit;
        margin-top: 22vh;
    }
    .what_unalus {
        position: inherit;
        margin-top: 45vh;
        background: #FFF;
        padding: 40px 5%;
    }
    .company_wrapper {
        padding: 20px 5%;
    }
    .company_title {
        margin: 50px 0 50px;
        width: 100%;
    }
    .company_list {
        width: 100%;
        margin-right: 0;
        float: none;
    }
    .company_map {
        width: 100%;
        float: none;
    }
    .contact_wrapper {
        padding: 100px 5% 100px;
    }
    .contact_left {
        float: none;
        margin-right: 0;
        width: 100%;
    }
    .contact_right {
        float: none;
        width: 100%;
    }
    .contact_txt .input_list {
        width: 100%;
        display: block;
    }
    .contact_wrapper input[type="text"],
    .contact_wrapper textarea {
        width: 100%;
    }
    .contact_title {
        margin-top: 40px;
    }
    .submit_btn {
        margin-top: 30px;
    }
    .submit_btn input[type="submit"] {
        padding: 30px 0;
        width: 100%;
    }
    .back_btn {
        margin-top: 50px;
    }
    .back_btn button {
        padding: 30px 0;
        width: 100%;
    }
    .thanks {
        margin-top: 40px;
    }
}